* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.nav-list {
    height:10vh;
    display:flex;
    width:50%;
    justify-content: space-around;
    align-items: center;
    margin:0 auto;
    list-style:none;
    .nav-link{
        text-decoration: none;
        color:black;
        font-size: 18px;
    }
}
.home , 
.about {
    height:90vh;
    position: absolute;
    width: 100%;
}

.home-content ,
.about-content {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    img {
        height: 70%;
    }
    h1 {
        font-style: 50px;
        margin:30px 0px;
    }
    p {
        font-style: 20px;
    }
}

.home {
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}
.about {
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}